<!DOCTYPE html>
<html>
  <head>
    <title>Exchange Rate Symbols</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      
    <% if @symbols %>
      <ul>
        <% @symbols.each do |code, name| %>
          <li>
            <%= "#{code}: #{name}" %>
          </li>
        <% end %>
      </ul>
  
    <% end %>
  </body>
</html>
